<h1>{{ title }}</h1>

<hr>

<div class="tip">
  <h2>Como funciona?</h2>
  <p>
    Insira um arquivo PDF que contenha Nomes e CEPs, e o sistema irá ler o arquivo e retornar os nomes e CEPs ordenados.
  </p>
</div>

<div id="drop_zone" (drop)="dropHandler($event)" (dragover)="dragOverHandler($event)">
  <label>
    <h3>Arraste e solte ou clique para subir um arquivo PDF.</h3>
    <h2>🖱️📁</h2>
    <input type="file" id="file_selector" accept=".pdf" (input)="onChangeFileSelector($event)" />
  </label>
</div>

<h2>{{ arquivoselecionado }}</h2>
<h2 *ngIf="loading">{{ processando }}</h2>

<textarea [value]="conteudo"></textarea>